<!-- templates/dashboard.html -->

{% extends "base.html" %}

{% block content %}

<div class="grid">

    <div class="card">

        <h2>
            Market Regime
        </h2>

        <div class="metric">

            {{ system_state.market_regime }}

        </div>

    </div>

    <div class="card">

        <h2>
            Current Leader
        </h2>

        <div class="metric">

            {{ system_state.current_leader }}

        </div>

    </div>

    <div class="card">

        <h2>
            Current Equity
        </h2>

        <div class="metric">

            ${{ "{:,.2f}".format(
            system_state.current_equity
            ) }}

        </div>

    </div>

    <div class="card">

        <h2>
            Current Cash
        </h2>

        <div class="metric">

            ${{ "{:,.2f}".format(
            system_state.current_cash
            ) }}

        </div>

    </div>

    <div class="card">

        <h2>
            Current Drawdown
        </h2>

        <div class="metric">

            {{ drawdown }}%

        </div>

    </div>

    <div class="card">

        <h2>
            CAGR
        </h2>

        <div class="metric">

            {{ performance.cagr }}%

        </div>

    </div>

    <div class="card">

        <h2>
            Max Drawdown
        </h2>

        <div class="metric">

            {{ performance.max_drawdown }}%

        </div>

    </div>

    <div class="card">

        <h2>
            Unrealized P/L
        </h2>

        <div class="metric">

            ${{ "{:,.2f}".format(
            pnl_summary.total_unrealized
            ) }}

        </div>

    </div>

    <div class="card">

        <h2>
            Realized P/L
        </h2>

        <div class="metric">

            ${{ "{:,.2f}".format(
            pnl_summary.total_realized
            ) }}

        </div>

    </div>

</div>

<div class="card">

    <h2>
        Portfolio Equity Curve
    </h2>

    <div id="equityChart"></div>

</div>

<script>

    let equityChart = {{ equity_chart | safe }};

    Plotly.newPlot(

        'equityChart',

        equityChart.data,

        equityChart.layout

    );

</script>

{% endblock %}